<div th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-green bg-dark sticky-top">
        <div class="container-fluid">
            <a href="#" class="navbar-brad"><img src="img/logo/logo.svg"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li>
                        <div class="dropdown">
                            <button class="btn btn-secondary" type="button" href="#"  aria-haspopup="true" aria-expanded="false">
                                Dashboard
                            </button>
                        </div>
                    </li>

                    <li>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="projectsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Projects
                        </button>
                        <div class="dropdown-menu" aria-labelledby="projectsMenu">
                            <a class="dropdown-item" href="#">Projects Map</a>
                            <a class="dropdown-item" href="#">Current Project</a>
                            <a class="dropdown-item" href="#">Exam</a>
                            <a class="dropdown-item" href="#">Team</a>
                        </div>
                    </div>
                    </li>

                    <li>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="learnMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Learning
                            </button>
                            <div class="dropdown-menu" aria-labelledby="learnMenu">
                                <a class="dropdown-item" href="#">Learn Map</a>
                                <a class="dropdown-item" href="#">Learn action</a>
                                <a class="dropdown-item" href="#">Peer to Peer</a>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="progressMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Progress
                            </button>
                            <div class="dropdown-menu" aria-labelledby="progressMenu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="interest" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Interesting
                            </button>
                            <div class="dropdown-menu" aria-labelledby="interest">
                                <a class="dropdown-item" href="#">News</a>
                                <a class="dropdown-item" href="#">Posts</a>
                                <a class="dropdown-item" href="#">Hackathons</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="interest" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" th:inline="text" >
                                [[${#httpServletRequest.remoteUser}]]
                            </button>
                            <div class="dropdown-menu" aria-labelledby="interest">
                                <a class="dropdown-item" href="#">Messages</a>
                                <a class="dropdown-item" href="#">My team</a>
                                    <form  class="dropdown-item" th:action="@{/logout}" method="post">
                                        <input type="submit" value="Sign Out"/>
                                    </form>
                            </div>
                    </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>