<div th:fragment="faq">
    <div class="container-fluid ">
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border">
            <div>
                <h2 class="display-4 text-center">FAQ</h2>
            </div>
            <button type="button" class="accordion btn btn-light container-fluid text-left " data-toggle="collapse" data-target="#ac1">
                Как выглядит процесс обучения в Школе 21?
            </button>
            <div id="ac1" class="collapse container-fluid">
                <p class="text-left">
                    Итак, вы успешно прошли интенсив и зачислены на основное обучение.
                    Что вас ждет? В первые 12-15 месяцев вам будут доступны проекты следующих направлений:
                    структурное программирование (С), объектно-ориентированное программирование (С++),
                    компьютерные сети, алгоритмы, базы данных(SQL) и прикладное программирование (java, Python, Golang, C#)
                    После чего наступает время стажировки,
                    она так же является учебным проектом и будет длиться 3 месяца. Где проходить стажировку вы решаете сами.
                    После стажировки в вашем персональном учебном плане откроются ветки
                    для изучения дополнительных направлений и языков:
                </p>

                    <ul>
                        <li><strong>
                            Mobile (Android/ iOS, Kotlin/ Swift),
                        </strong></li>

                        <li><strong>
                            Frontend (HTML, CSS, JS, TypeScript, SPA, PWA),
                        </strong></li>

                        <li><strong>
                            Backend (C#, Python, Go, Java, проектирование бэкенда монолитных и СОА-приложений,
                            аспекты построения HighLoad-систем,
                            Распределенные транзакции, вопросы параллельного программирования, Web-сервера и др.),
                        </strong></li>

                        <li><strong>
                            Машинное обучение и Data Science(большие данные, нейронные сети, Python,
                            Tesorflow, компьютерное зрение, компьютерная лингвистика и др.);
                        </strong></li>

                        <li><strong>
                            Архитектура ПО (UML, проектирование БП, прототипирование, СОА, микросервисная архитектура,
                            проектирование распределенных приложений, организация процессов разработки и др.),
                        </strong></li>

                        <li><strong>
                            DevOps (Ansible, Docker, Kubernetes, Глубокая настройка и конфигурирование Nginx,
                            облачные инфраструктуры и др.),
                        </strong></li>

                        <li><strong>
                            Базы данных (SQL, реляционные и нереляционные БД, в т.ч. документные и графовые),
                        </strong></li>

                        <li><strong>
                            Алгоритмы (сложные структуры данных, алгоритмы по работе с графами, алгоритмы сжатия, жадные алгоритмы,
                            непрерывная и дискретная оптимизация, многопоточных алгоритмы, приближённые алгоритмы и др.),
                        </strong></li>

                        <li><strong>
                            Робототехника и электроника (ROS), программирование умных устройств
                            (программирование микроконтроллеров (AVR и ARM), программирование одноплатных компьютеров и др.);
                        </strong></li>

                        <li><strong>
                            Компьютерная графика и GameDev (алгоритмы компьютерной графики ( C/C++ ), алгоритмы компьютерной
                            физики, Unity, Unreal, понятие игрового ИИ и др.)
                        </strong></li>

                        <li><strong>
                            Кибербезопасность (криптография, сетевая безопасность, принципы работы вирусов и антивирусов, анализ уязвимостей);
                        </strong></li>

                        <li><strong>
                            Операционные системы и сети (Разработка драйверов и модулей ядра, программирование и сборка ядра ОС Linux,
                            разработка файловых систем, Assembler в системном программировании, настройка сетей и др.)
                        </strong></li>
                    </ul>
                <p>
                    Для чего возвращаться со стажировки? Расширить и углубить свои знания, попробовать новые языки и направления
                    выполняя более сложные и интересные проекты.
                    Что в финале? Вы получаете сертификат базового уровня после закрытия проектов в одной выбранной ветке изучения.
                    Если вы хотите сертификат продвинутого уровня вам необходимо выполнить проекты трех веток.
                    По завершении обучения вы становитесь выпускником и участником сообщества Alumni School 21.
                </p>
            </div>
            <br>
            <hr>
            <br>
            <button type="button" class="accordion btn btn-light container-fluid text-left" data-toggle="collapse" data-target="#ac2">
                Каковы основные требования для поступления?
            </button>
            <div id="ac2" class="collapse container-fluid">
                <p class="text-left">
                    Мы не судим о способностях по школьным или университетским оценкам, поэтому не попросим вас предоставить
                    аттестат или диплом о высшем образовании.
                    Вместо этого мы предложим пройти онлайн -игры— они лучше выявляют необходимые для программиста способности.
                    После игр необходимо присутствовать на онлайн встрече с командой Школы, которая проходит в формате вебинара.
                    На ней вы узнаете все о поступлении и обучении. Далее вы записываете короткое видеоинтервью, которое состоит из двух вопросов.
                    Подав документы, вы попадаете на интенсив продолжительностью 26 дней — пробный период обучения.
                    После прохождения отборочного интенсива самые талантливые и мотивированные участники зачисляются в Школу 21.
                </p>
            </div>
            <hr>
            <button type="button" class="accordion btn btn-light container-fluid text-left" data-toggle="collapse" data-target="#ac3">
                Почему обучение в Школе 21 — бесплатное?
            </button>
            <div id="ac3" class="collapse container-fluid">
                <p class="text-left">
                    Не всегда у талантливых людей есть финансовые возможности получить достойное образование.
                    Сбер, как социально ответственная компания, предоставляет такую возможность каждому талантливому
                    молодому человеку в России.
                    Мы гордимся тем, что нам досталась привилегия участвовать в создании нашего будущего —
                    помогать вырастить новое поколение профессионалов.
                </p>
            </div>
            <hr>
            <button type="button" class="accordion btn btn-light container-fluid text-left border" data-toggle="collapse" data-target="#ac4">
                Есть ли возрастные ограничения?
            </button>
            <div id="ac4" class="collapse container-fluid border">
                <p class="text-left">
                    Школа 21 сняла верхние возрастные ограничения на прием участников.
                    Теперь в школу может поступить любой желающий от 18 лет.
                    С письменного разрешения родителей и после одобрения со стороны
                    Школы в отборочных интенсивах могут принимать участие желающие с 17 лет.
                </p>
            </div>

            <button type="button" class="accordion btn btn-light container-fluid text-left border" data-toggle="collapse" data-target="#ac5">
                Могу ли я участвовать в отборочном интенсиве, если параллельно учусь или работаю?
            </button>
            <div id="ac5" class="collapse container-fluid border">
                <p class="text-left">
                    Если вы не сможете полностью посвятить четыре недели отборочному этапу,советуем отложить поступление на следующий год.
                </p>
            </div>

            <button type="button" class="accordion btn btn-light container-fluid text-left" data-toggle="collapse" data-target="#ac6">
                Что вы можете посоветовать для успешного прохождения отборочного интенсива?
            </button>
            <div id="ac6" class="collapse container-fluid">
                <p class="text-left">
                    К отборочному интенсиву невозможно подготовиться. Главное — перед началом отдохните как следует.
                    А во время его прохождения разумно организуйте свое время, равномерно распределяйте нагрузку, работайте упорно.
                    Не забывайте чередовать нагрузку со здоровым сном и правильным питанием. Получайте удовольствие и удачи!
                </p>
            </div>

            <button type="button" class="accordion btn btn-light container-fluid text-left" data-toggle="collapse" data-target="#ac7">
                Должен ли я хорошо разбираться в компьютерных технологиях, чтобы поступить в Школу 21?
            </button>
            <div id="ac7" class="collapse container-fluid">
                <p class="text-left">
                    Уровень ваших навыков программирования не играет решающей роли. С самого начала все на равных.
                    Опыт школ и наших выпускников, которые работают по этой методике в других странах, показывает,
                    что способные участники без опыта в разработке ПО быстро догоняют тех, кто уже поработал программистом.
                    Конечно, если вы никогда не видели компьютер, учёба будет для вас тяжким испытанием.
                    Но и в этом случае нет ничего невозможного.
                </p>
            </div>

            <button type="button" class="accordion btn btn-light container-fluid text-left" data-toggle="collapse" data-target="#ac8">
                Могу ли я стать менеджером проектов (PM), обучаясь в Школе 21?
            </button>
            <div id="ac8" class="collapse container-fluid">
                <p class="text-left">
                    Ваши навыки PM будут развиваться по мере реализации командных проектов во время обучения.
                    Если ваш план состоит только в том, чтобы получить исключительно навыки управления проектами,
                    советуем рассмотреть другие образовательные программы, потому что основная часть обучения в
                    Школе 21 посвящена программированию.
                </p>
            </div>

            <button type="button" class="accordion btn btn-light container-fluid text-left" data-toggle="collapse" data-target="#ac9">
                Можно ли обучаться дистанционно?
            </button>
            <div id="ac9" class="collapse container-fluid">
                <p class="text-left">
                    На основном обучении во время ограничений, связанных с пандемией Covid-19, возможна удаленная сдача проектов.
                    Но когда/если ситуация изменится, вы должны лично присутствовать в Школе 21, поскольку основная часть процесса
                    обучения проходит в прямом взаимодействии с другими участниками.
                </p>
            </div>

            <button type="button" class="accordion btn btn-light container-fluid text-left" data-toggle="collapse" data-target="#ac10">
                Какой документ получают участники по окончании Школы 21?
            </button>
            <div id="ac10" class="collapse container-fluid">
                <p class="text-left">
                    Наши выпускники получат сертификат негосударственного образца об окончании Школы 21.
                </p>
            </div>

            <button type="button" class="accordion btn btn-light container-fluid text-left" data-toggle="collapse" data-target="#ac11">
                Обеспечиваете ли вы проживание участникам?
            </button>
            <div id="ac11" class="collapse container-fluid">
                <p class="text-left">
                    В Москве хостел не предоставляется. В Казани и Новосибирске участникам основного обучения предоставляется бесплатный хостел
                    – временное место пребывания граждан Российской Федерации и иностранных граждан, не имеющих постоянной или временной регистрации
                    на территории города Казани или Новосибирска. Также, для участников отборочных интенсивов работают скидки в партнерских хостелах,
                    о них мы рассказываем на онлайн-встречах.
                </p>
            </div>

            <button type="button" class="accordion btn btn-light container-fluid text-left" data-toggle="collapse" data-target="#ac12">
                Много ли времени я должен посвящать обучению в школе?
            </button>
            <div id="ac12" class="collapse container-fluid">
                <p class="text-left">
                    Всё зависит от вас. Школа 21 открыта в режиме 24/7, поэтому каждый может работать в самое продуктивное для него время суток.
                    Так или иначе, чтобы успешно продвигаться по программе, вам придётся посвящать учёбе не меньше 20 часов в неделю.
                </p>
            </div>

            <button type="button" class="accordion btn btn-light container-fluid text-left" data-toggle="collapse" data-target="#ac13">
                Сколько лет учиться?
            </button>
            <div id="ac13" class="collapse container-fluid">
                <p class="text-left">
                    Так как график обучения индивидуален, то учеба может занять от 1,5 до 3,5 лет, в зависимости от количества вложенных
                    вами часов в обучение и желаемого уровня на выходе (Junior или Middle).
                </p>
            </div>

            <button type="button" class="accordion btn btn-light container-fluid text-left" data-toggle="collapse" data-target="#ac14">
                Могу ли учиться и работать во время обучения?
            </button>
            <div id="ac14" class="collapse container-fluid">
                <p class="text-left">
                    Треть наших участников совмещает обучение в Школе 21 с обучением в вузе, еще треть — с работой.
                    Скажем честно — это непросто, но возможно. Оптимально иметь одну фриланс или part time работу, чтобы качественно учиться и работать.
                    Также во время учебы у вас будет 1 или две полноценные стажировки, продолжительностью от 3 до 6 месяцев.
                </p>
            </div>

            <button type="button" class="accordion btn btn-light container-fluid text-left" data-toggle="collapse" data-target="#ac15">
                Где будут проходить встречи с командой Школы 21?
            </button>
            <div id="ac15" class="collapse container-fluid">
                <p class="text-left">
                    Встречи проходят онлайн.
                </p>
            </div>

            <button type="button" class="accordion btn btn-light container-fluid text-left" data-toggle="collapse" data-target="#ac16">
                Сколько раз можно поступать?
            </button>
            <div id="ac16" class="collapse container-fluid">
                <p class="text-left">
                    У тебя одна попытка – не упусти ее!
                </p>
            </div>
        </div>
    </div>
</div>