<div th:fragment="info_home">
    <div class="container-fluid">
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h2 class="display-4">Трудоустройство</h2>
                <br>
                <p class="lead"> Во время учёбы в Школе 21 каждый участник проходит обязательную стажировку — работает
                    по своему направлению в течение 3-х месяцев. Для Школы 21 практика в
                    IT-компании — такой же учебный проект, как и все остальные.
                    Участник сам выбирает компанию для стажировки и договаривается о её условиях.
                    Если нужна помощь, Школа 21 поможет:
                </p>
                <ul>
                    <li><strong>проведёт карьерную консультацию и оценит резюме;</strong></li>
                    <li><strong>подготовит к собеседованию;</strong></li>
                    <li><strong>организует мероприятия с работодателями и предложит вакансии от компаний-партнёров.</strong></li>
                </ul>
                <p class="lead">На стажировку выходят 100% участников Школы 21, и 95%
                    из них уже получили предложения о постоянной работе.</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <img class="my_img" src="img/slides/3.jpg">
            </div>
        </div>
    </div>
</div>