<div th:fragment="learning">
    <div class="container-fluid border">
        <br><br>
        <h2 class="display-4 text-center ">Принципы обучения</h2>
        <br><br>
    </div>
    <div class="container-fluid border">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 border">
                <h3>Нет расписания, оценок и менторов</h3>
                <p class="lead"> Ты самостоятельно планируешь день, управляешь свободным временем,
                    чтобы вовремя сдать проекты и проверить работы других участников.
                    Мы ставим дедлайны, даём рабочее место с Mac и удобный кампус, который открыт 24/7.
                    Всё остальное — в твоих руках. </p>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 border">
                <h3>Метод Peer-to-Peer</h3>
                <p class="lead"> Обычных уроков и лекций не будет.
                    Вместо этого — методика peer-to-peer (P2P), по которой каждый учится у каждого.
                    У всех участников разный бэкграунд и свой темп в обучении.
                    Работай в команде, делись знаниями и получай опыт от таких же, как ты.
                    Все участники равны. </p>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 border">
                <h3>Геймификация</h3>
                <p class="lead"> Выполняй задания и получай очки опыта,
                    прокачивай навыки и двигайся вперёд — уровень за уровнем.
                    Участвуй в жизни Школы и получай награды,
                    за проверки других участников — очки.
                    Свои результаты можно сравнить с итогами других участников,
                    чтобы понять точки роста и мобилизоваться.</p>
            </div>

        </div>
    </div>
</div>