<div th:fragment="footer">
    <footer class="pt-4 border-top bg-dark ">
        <div class="container-fluid">
        <div class="row padding ">
            <div class="col-12 col-md align-items-center text-center">
                <img class="mb-2" src="img/logo/logo.svg" alt="" width="50" height="50">
                <small class="d-block mb-3 text-muted">©2022</small>
            </div>
            <div class="col-6 col-md">
                <h5>Меню</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Что вы получаете?</a></li>
                    <li><a class="text-muted" href="#">Направления</a></li>
                    <li><a class="text-muted" href="#">Обучение</a></li>
                    <li><a class="text-muted" href="#">Трудоустройство</a></li>
                    <li><a class="text-muted" href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Мы в социальных сетях</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Vk</a></li>
                    <li><a class="text-muted" href="#">Yandex</a></li>
                    <li><a class="text-muted" href="#">Youtube</a></li>
                    <li><a class="text-muted" href="#">Google</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>О Нас</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team dream</a></li>
                    <li><a class="text-muted" href="#">Политика приватности</a></li>
                    <li><a class="text-muted" href="#">Правила сервиса</a></li>
                    <li><a class="text-muted" href="#">Партнерам</a></li>
                </ul>
            </div>
            </div>
        </div>
    </footer>
</div>