<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div th:insert="blocks/header/header :: header"></div>

<br> <br>
<div class="container-fluid border">
    <div class="row jumbotron">



        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h2 class="display-4">Диаграмма навыков</h2>
            <br>
            <p class="lead"> Данная диаграмма показывает твой прогресс в обучении.
                Внимательно следи за ее изменениями. Не хватайся за все темы подряд.

            </p>
            <ul>
                <li><strong>Помни, что если твоя учебная активность будет низкая навыки будут падать</strong></li>
                <li><strong>Если твоя учебная активность за 3 месяца будет равна нулю твой профиль будет удален, а диаграмма обнулена</strong></li>
                <li><strong>Чтобы зафиксировать свой прогресс, тебе нужно пройти все дерево по специализации</strong></li>
            </ul>
            <p class="lead">На стажировку выходят 100% участников Школы 21, и 95%
                из них уже получили предложения о постоянной работе.</p>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img class="my_img" src="img/slides/3.jpg">
        </div>

    </div>
</div>
<br><br>

<div class="container-fluid border">
    <div class="row jumbotron">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h2 class="display-4">Текущий проект</h2>
            <br>
            <p class="lead"> Данная диаграмма показывает твой прогресс в обучении.
                Внимательно следи за ее изменениями. Не хватайся за все темы подряд.

            </p>
            <ul>
                <li><strong>Помни, что если твоя учебная активность будет низкая навыки будут падать</strong></li>
                <li><strong>Если твоя учебная активность за 3 месяца будет равна нулю твой профиль будет удален, а диаграмма обнулена</strong></li>
                <li><strong>Чтобы зафиксировать свой прогресс, тебе нужно пройти все дерево по специализации</strong></li>
            </ul>
            <p class="lead">На стажировку выходят 100% участников Школы 21, и 95%
                из них уже получили предложения о постоянной работе.</p>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img class="my_img" src="img/slides/3.jpg">
        </div>

    </div>
</div>
<br><br>

<div class="container-fluid border">
    <div class="row jumbotron">



        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h2 class="display-4">Турнир трайбов</h2>
            <br>
            <p class="lead"> Данная диаграмма показывает твой прогресс в обучении.
                Внимательно следи за ее изменениями. Не хватайся за все темы подряд.

            </p>
            <ul>
                <li><strong>Помни, что если твоя учебная активность будет низкая навыки будут падать</strong></li>
                <li><strong>Если твоя учебная активность за 3 месяца будет равна нулю твой профиль будет удален, а диаграмма обнулена</strong></li>
                <li><strong>Чтобы зафиксировать свой прогресс, тебе нужно пройти все дерево по специализации</strong></li>
            </ul>
            <p class="lead">На стажировку выходят 100% участников Школы 21, и 95%
                из них уже получили предложения о постоянной работе.</p>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img class="my_img" src="img/slides/3.jpg">
        </div>

    </div>
</div>
<br><br>

<div th:insert="blocks/footer/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>